/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7ac97a;
    padding: 10px 20px;
    color: white;
}

/* Logo Styling */
.logo a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Hover Effect for Links */
.nav-links li a:hover {
    color: white; /* Change to your preferred hover color */
}

/* Main Content Sections */
.content {
    padding: 20px;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

/*body{ 
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:25px;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%)
}
.button-op{
    background-color: hsl(35, 100%, 55%)
}
.button-op:hover {
    background-color: hsl(35, 100%, 65%)
}
.button-op:active {
    background-color: hsl(35, 100%, 75%)
}*/